.v-al-mid{
  height: 100%;
  &:before{
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}
.clearfix{
  &:after{
    display: block;
    clear: both;
  }
}
.db{display: block;}

.cart-button {
  background: #f2f2f2;
  border: none;
  outline: none;
  padding: 10px;
  vertical-align: middle;
  text-align: center;
  @include border-radius(5px);
}

.social{
  display: inline-block;
  vertical-align: middle;
  &.vk{
    @include sprite($spritesheet, 'vk-icon');
  }
  &.instagram{
    @include sprite($spritesheet, 'instagram-icon');
  }
}