    /*
    SCSS variables are information about icon's compiled state, stored under its original file name

    .icon-home {
    width: map-get($icon-home, 'width');
    }

    At the bottom of this section, we provide information about the spritesheet itself
    */

    $spritesheet: (
    width: 305px,
    height: 266px,
    image: '../files/images/sprites.png',
            cart-icon: (
            name: 'cart-icon',
            x: 201px,
            y: 106px,
            offset-x: -201px,
            offset-y: -106px,
            width: 32px,
            height: 32px,
            total-width: 305px,
            total-height: 266px,
            image: '../files/images/sprites.png'
            ),
            grey-rating-star: (
            name: 'grey-rating-star',
            x: 106px,
            y: 162px,
            offset-x: -106px,
            offset-y: -162px,
            width: 24px,
            height: 24px,
            total-width: 305px,
            total-height: 266px,
            image: '../files/images/sprites.png'
            ),
            instagram-icon: (
            name: 'instagram-icon',
            x: 235px,
            y: 106px,
            offset-x: -235px,
            offset-y: -106px,
            width: 32px,
            height: 32px,
            total-width: 305px,
            total-height: 266px,
            image: '../files/images/sprites.png'
            ),
            left-whight-big-arrow: (
            name: 'left-whight-big-arrow',
            x: 201px,
            y: 0px,
            offset-x: -201px,
            offset-y: 0px,
            width: 104px,
            height: 104px,
            total-width: 305px,
            total-height: 266px,
            image: '../files/images/sprites.png'
            ),
            red-rating-star: (
            name: 'red-rating-star',
            x: 132px,
            y: 162px,
            offset-x: -132px,
            offset-y: -162px,
            width: 24px,
            height: 24px,
            total-width: 305px,
            total-height: 266px,
            image: '../files/images/sprites.png'
            ),
            right-whight-big-arrow: (
            name: 'right-whight-big-arrow',
            x: 0px,
            y: 162px,
            offset-x: 0px,
            offset-y: -162px,
            width: 104px,
            height: 104px,
            total-width: 305px,
            total-height: 266px,
            image: '../files/images/sprites.png'
            ),
            vk-icon: (
            name: 'vk-icon',
            x: 269px,
            y: 106px,
            offset-x: -269px,
            offset-y: -106px,
            width: 32px,
            height: 32px,
            total-width: 305px,
            total-height: 266px,
            image: '../files/images/sprites.png'
            ),
            write-comment-img: (
            name: 'write-comment-img',
            x: 0px,
            y: 0px,
            offset-x: 0px,
            offset-y: 0px,
            width: 199px,
            height: 160px,
            total-width: 305px,
            total-height: 266px,
            image: '../files/images/sprites.png'
            ),
    );

