    /*
    SCSS variables are information about icon's compiled state, stored under its original file name

    .icon-home {
    width: map-get($icon-home, 'width');
    }

    At the bottom of this section, we provide information about the spritesheet itself
    */

    $spritesheet: (
    width: 469px,
    height: 296px,
    image: '../files/images/sprites.png',
            cart-icon: (
            name: 'cart-icon',
            x: 212px,
            y: 192px,
            offset-x: -212px,
            offset-y: -192px,
            width: 32px,
            height: 32px,
            total-width: 469px,
            total-height: 296px,
            image: '../files/images/sprites.png'
            ),
            grey-rating-star: (
            name: 'grey-rating-star',
            x: 270px,
            y: 162px,
            offset-x: -270px,
            offset-y: -162px,
            width: 24px,
            height: 24px,
            total-width: 469px,
            total-height: 296px,
            image: '../files/images/sprites.png'
            ),
            instagram-icon: (
            name: 'instagram-icon',
            x: 246px,
            y: 192px,
            offset-x: -246px,
            offset-y: -192px,
            width: 32px,
            height: 32px,
            total-width: 469px,
            total-height: 296px,
            image: '../files/images/sprites.png'
            ),
            left-whight-big-arrow: (
            name: 'left-whight-big-arrow',
            x: 0px,
            y: 192px,
            offset-x: 0px,
            offset-y: -192px,
            width: 104px,
            height: 104px,
            total-width: 469px,
            total-height: 296px,
            image: '../files/images/sprites.png'
            ),
            main-logotype: (
            name: 'main-logotype',
            x: 0px,
            y: 0px,
            offset-x: 0px,
            offset-y: 0px,
            width: 268px,
            height: 190px,
            total-width: 469px,
            total-height: 296px,
            image: '../files/images/sprites.png'
            ),
            red-rating-star: (
            name: 'red-rating-star',
            x: 296px,
            y: 162px,
            offset-x: -296px,
            offset-y: -162px,
            width: 24px,
            height: 24px,
            total-width: 469px,
            total-height: 296px,
            image: '../files/images/sprites.png'
            ),
            right-whight-big-arrow: (
            name: 'right-whight-big-arrow',
            x: 106px,
            y: 192px,
            offset-x: -106px,
            offset-y: -192px,
            width: 104px,
            height: 104px,
            total-width: 469px,
            total-height: 296px,
            image: '../files/images/sprites.png'
            ),
            vk-icon: (
            name: 'vk-icon',
            x: 280px,
            y: 192px,
            offset-x: -280px,
            offset-y: -192px,
            width: 32px,
            height: 32px,
            total-width: 469px,
            total-height: 296px,
            image: '../files/images/sprites.png'
            ),
            write-comment-img: (
            name: 'write-comment-img',
            x: 270px,
            y: 0px,
            offset-x: -270px,
            offset-y: 0px,
            width: 199px,
            height: 160px,
            total-width: 469px,
            total-height: 296px,
            image: '../files/images/sprites.png'
            ),
    );

