main{
  background: #ffffff;
  .banners-block{
    .swiper-button{
      position: absolute;
      top: 50%;
      margin-top: -52px;
      z-index: 1;
      cursor: pointer;
      &.swiper-button-disabled{opacity: 0.5;}
      &.swiper-prev{
        @include sprite($spritesheet, 'left-whight-big-arrow');
        left: 10px;
      }
      &.swiper-next{
        @include sprite($spritesheet, 'right-whight-big-arrow');
        right: 10px;
      }
    }
  }
  .left-side{
    @include make-xs-column(12);
    @include make-sm-column(2.5);
    @include make-md-column(2.5);
    @include make-lg-column(2.5);
    padding-left: 20px;
    h3{
      color: #BF252D;
      font-size: 15px;
      font-family: 'robotoregular';
      font-weight: bold;
    }
    .filter-links{
      li{
        font-size: 13px;
        color: #333333;
        margin-bottom: 10px;
      }
    }
  }

  .product-list{
    @include make-xs-column(12);
    @include make-sm-column(9.5);
    @include make-md-column(9.5);
    @include make-lg-column(9.5);
    font-family: 'robotoregular';
    font-style: normal;
    font-size: 13px;
    color: #333333;
    .product-item{
      @include make-xs-column(6);
      @include make-sm-column(4);
      @include make-md-column(2.4);
      @include make-lg-column(2.4);
      padding: 0.5%;
      a{
        img{
          margin-bottom: 10px;
        }
        p{
          margin-top: 10px;
        }
        form{
          span{
            padding: 5px 0;
          }
          .cart-button{
            padding: 5px;
            width: 50%;
          }
        }
      }
    }
  }

  .fragments{
    padding: 20px;

    .breadcrumb{
      background-color: transparent;
      padding: 0;
      font-size: 12px;

      font-style: normal;
      font-family: 'robotoregular';
      a{color: #BCBCBC;}
    }

    .product-card{
      .main-image{
        @include make-xs-column(12);
        @include make-sm-column(5);
        @include make-md-column(5);
        @include make-lg-column(5);
        padding: 0;
        img{width: 100%;}
      }
      .other-image{
        @include make-xs-column(12);
        @include make-sm-column(1);
        @include make-md-column(1);
        @include make-lg-column(1);
        li{
          a{
            margin-bottom: 10px;
            position: relative;
            img{
              position: relative;
              z-index: 2;
            }
            .pseudo-for-hover{
              position: absolute;
              left: 0; top: 0;
              width: 100%;
              height: 100%;
              z-index: 1;
            }
            &:hover{
              .pseudo-for-hover{
                border: 5px solid #ffcc33;
                z-index: 3;
              }
              img{

              }
            }
          }
        }
      }
      .description{
        @include make-xs-column(12);
        @include make-sm-column(6);
        @include make-md-column(6);
        @include make-lg-column(6);
        p{
          margin: 30px 0;
          font-size: 13px;
        }
        h1{margin-top: 0;}
        .buying-block{
          .price{
            font-size: 18px;
            margin-right: 30px;
            vertical-align: middle;
          }

        }
        .composition{
          span{
            margin-right: 7px;
            &:after{
              content: ',';
              display: inline-block;
            }
            &:first-child{
              font-weight: bold;
              &:after{
                content: ':';
                display: inline-block;
              }
            }
          }
        }
      }
    }

    .cart-block{
      margin-right: -2%;
      h1{font-size: 24px;}
      .total{
        font-size: 12px;
        span{vertical-align: middle;}
        &-sum{
          font-size: 20px;
          margin-left: 10px;
          &:after{
            content: 'rub.';
            margin-left: 10px;
          }
        }
      }
      .cart-item{
        width: 48%;
        display: inline-block;
        margin-right: 2%;
        margin-bottom: 2%;
        border: 1px solid #BCBCBC;
        .wrap{
          padding: 22px;
          .desc{
            display: inline-block;
            vertical-align: middle;
            margin: 0 5%;
            width: 30%;
            font-size: 12px;
            .price{
              margin-bottom: 0;
              text-align: left;
            }
          }
          form{
            display: inline-block;
            vertical-align: middle;
            width: 40%;
            text-align: center;
            *{vertical-align: middle;}
            .glyphicon{
              margin-left: 20%;
            }
          }
        }

      }
      .personal-data{
        @include make-xs-column(12);
        @include make-sm-column(12);
        @include make-md-column(9);
        @include make-lg-column(9);
        padding: 40px;

        button{
          vertical-align: middle;
        }
      }
      .after-buying-helper{
        font-size: 12px;
        @include make-xs-column(12);
        @include make-sm-column(12);
        @include make-md-column(3);
        @include make-lg-column(3);
        padding-top: 3%;
      }
    }

    .comment-block{
      @include make-xs-column(12);
      @include make-sm-column(12);
      @include make-md-column(10);
      @include make-lg-column(10);
      padding: 0;
      .comments-form{
        position: relative;
        @media (min-width: $screen-sm-min) {
          &:before {
            content: '';
            @include sprite($spritesheet, 'write-comment-img');
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 1;
            display: block;
          }
        }
        .your-message{
          margin-top: 30px;
          @include make-xs-column(12);
          @include make-sm-column(8);
          @include make-md-column(8);
          @include make-lg-column(8);
          padding: 0;
          textarea{
            width: 100%;
            height: 70px;
            resize: none;
            padding: 10px;
          }
        }
        .red-button{
          clear: both;
          @media (min-width: $screen-sm-min){
            position: relative;
            z-index: 2;
            margin-top: -50px;
            margin-right: 8%;
          }
        }
      }

      .user-comments{
        .comment{
          font-size: 12px;
          div{
            span{vertical-align: middle;}
            .rating{
              display: inline-block;
              vertical-align: middle;
              margin: 0 40px;
            }
            .date{color: #999999;}
            .user-name{font-family: 'robotobold';}
          }
          .user-text{
            margin-top: 10px;
            background: #f2f2f2;
            padding: 10px;
          }
        }
      }
    }
  }
}